/* Blog card container */
.blog-cards-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

/* Individual blog card */
.blog-card {
width: calc(50% - 10px); /* 50% width with 10px gap between columns */
background-color: #FFFFFF;
border-radius: 8px;
overflow: hidden;
/*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

/* Blog card image */
.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Blog card title */
.blog-title {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Blog card description */
.blog-description {
    margin: 0 10px 10px;
    font-size: 1rem;
}

/* Read more link */
.read-more {
    display: block;
    margin: 10px;
    text-align: right;
    color: #007bff;
    text-decoration: none;
}

.recent-blogs  {
    text-align: left;
}

.recent-blogs h1:first-child, .recent-blogs h2:first-child {
    padding-top: 0!important;
}

@media (max-width: 767px) {
    .recent-blogs .content .col {
        width: 100%;
        margin: 0!important;
    }
}
  
  .read-more:hover {
    text-decoration: underline;
  }