.privacy-policy {
	padding: 16px 0;
}

.otnotice-content .otnotice-sections .otnotice-section-header{
	text-align:left !important;
	font-size: 16px;
	font-weight: bold;
	color: #7523FF !important;	
}

.otnotice-content .otnotice-sections .otnotice-section-content table tbody tr td p {
    margin: 0 !important;
}

.otnotice-content .otnotice-sections .otnotice-section-content table tbody tr td{
	text-align: center !important;
	padding: 5px;
	vertical-align: middle !important;		
} 

.otnotice-content .otnotice-sections .otnotice-section-content table tbody tr:nth-child(9n+1){
	background:#7523FF !important ;
	color: white !important;
}

 .otnotice-content .otnotice-sections .otnotice-section-content table tbody tr:nth-child(2),tr:nth-child(4),tr:nth-child(6),tr:nth-child(8),tr:nth-child(11),tr:nth-child(13),tr:nth-child(15),tr:nth-child(17),tr:nth-child(20),tr:nth-child(22),tr:nth-child(24),tr:nth-child(26),tr:nth-child(29),tr:nth-child(31),tr:nth-child(33),tr:nth-child(35),tr:nth-child(38),tr:nth-child(40),tr:nth-child(42),tr:nth-child(44),tr:nth-child(47),tr:nth-child(49),tr:nth-child(51),tr:nth-child(53){
	color: #7523FF !important;
}

#otnotice-section-87ba4efa-135a-4863-9764-4df4c27231b2 h1{ 
text-transform: uppercase !important;
color: #7523FF !important;
}	