/* news scripts */
.post-topics {
    padding: 1em 0;
}

.outer {
    display: flex;
    justify-content: space-between;
}

#main {
    float: none;
}

#sidebar {
    position: sticky;
    top: 130px;
    float: none;
}

@media (max-width: 960px) {
    #sidebar {
        top: 80px;
    }
}

@media (max-width: 860px) {
    .outer {
        flex-direction: column;
    }
    #sidebar {
        max-height: none;
    }
}