@media (max-width: 1280px) {
    #home-hero {
        height: auto;
        padding-bottom: 47%
    }

    #logo {
        left: 20px;
        width: 190px
    }

    #menu li.hs-menu-depth-1>a {
        padding: 0 18px !important;
    }  
}

@media (max-width: 1024px) {
    .outer {
        padding-left: 20px!important;
        padding-right: 20px!important;
        width: auto
    }

    #logo {
        left: 20px;
        width: 120px;
    }

    #cart {
        right: 20px
    }

    #heading {
        display: table
    }

    #heading .outer {
        display: table-cell;
        vertical-align: middle
    }

    #heading .vertical {
        display: block
    }

    #menu li.hs-menu-depth-1>a {
        font-size: 15px !important;
        padding: 0 12px !important;
    }
}

@media (max-width: 1023px) {
    #section-services {
        font-size: 15px;
        line-height: 1.5
    }

    #section-services h2 {
        font-size: 17px;
        line-height: 1.1
    }
}

@media (max-width: 960px) {
    body {
        padding-top: 50px
    }

    #header,
    body.scrolled #header {
        height: 50px;
        transition: none
    }

    #header .outer {
        width: 100%;
    }

    #logo {
        bottom: 5px;
        width: 120px
    }

    #cart {
        background: #d8d8d8;
        height: 100%;
        right: 51px;
        top: 0;
        width: 50px
    }

    #cart .icon-cart {
        font-size: 26px;
        height: 100%;
        line-height: 50px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%
    }

    #cart .cart-sum {
        display: none
    }

    #cart .cart-num {
        background: var(--primary-color);
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: 5px;
        width: 18px
    }

    #header-nav {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .3s ease;
        width: 50px;
        z-index: 4
    }

    #header-nav.hover {
        width: 320px
    }

    #header-nav-in {
        background: #fff;
        box-shadow: 0 0 8px rgba(0 0 0 / 50%);
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        right: -280px;
        top: 0;
        transition: right .3s ease;
        width: 270px
    }

    #header-nav-in #custom-search {
        display: none;
    }

    #header-nav.hover #header-nav-in {
        right: 0
    }

    #mobile-nav {
        background: #d8d8d8;
        box-sizing: border-box;
        color: #767a7f;
        font-weight: 700;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        width: 50px
    }

    #mobile-nav,
    #mobile-nav span {
        display: block;
        height: 100%;
        line-height: 50px
    }

    #mobile-nav span {
        font-size: 28px;
        padding-right: 10px;
        width: 100%
    }

    #menu {
        background: none;
        border: 0;
        clear: both;
        height: auto;
        padding: 0;
        position: static;
        width: 100%
    }

    #menu br {
        display: none
    }

    #menu .hs-menu-wrapper {
        height: auto;
        position: static;
        width: 100%
    }

    #menu li.hs-menu-depth-1 {
        border-bottom: 1px solid #f1f1f1;
        display: block;
        float: none;
        margin: 0 !important;
        padding: 0;
        position: relative
    }

    #menu li.hs-menu-depth-1>a {
        background-color: transparent !important;
        border-radius: 0 !important;
        color: #1a1919 !important;
        display: block;
        font-size: 20px;
        font-weight: 400;
        height: auto !important;
        line-height: normal !important;
        padding: 16px 45px 16px 25px !important;
        position: relative;
        text-align: left;
        transition: none
    }

    #menu .arrow {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2
    }

    #menu .arrow::before {
        color: #000;
        content: "\002b";
        cursor: pointer;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        height: 53px;
        line-height: 52px;
        text-align: center;
        width: 40px
    }

    #menu li.open>.arrow::before {
        content: "\2212"
    }

    #menu a::after,
    #menu li.hs-menu-depth-1:hover::before {
        content: none !important
    }

    #menu li.active>a {
        text-decoration: underline
    }

    #menu li.hs-menu-depth-1.hs-item-has-children:hover>a,
    #menu li.hs-menu-depth-1.hs-item-has-children>a:hover {
        box-shadow: none !important
    }

    #menu ul ul,
    #menu ul ul ul {
        background: none;
        box-shadow: none;
        opacity: 1;
        padding: 0 0 10px;
        visibility: visible;
        width: 100%
    }

    #menu ul ul,
    #menu ul ul li a,
    #menu ul ul ul {
        display: block;
        position: static;
        transition: none
    }

    #menu ul ul li a {
        background: none !important;
        color: #1a1919;
        font-family: inherit;
        font-size: 15px;
        line-height: normal !important;
        padding: 11px 40px 11px 25px !important;
        text-decoration: none;
        z-index: 100
    }

    #menu ul ul li .arrow {
        right: 0
    }

    #menu ul ul li .arrow::before {
        height: 40px;
        line-height: 40px
    }

    #menu ul ul ul {
        background: #ededed;
        padding: 10px 0
    }

    #menu ul ul ul li {
        padding-left: 0
    }

    #menu ul ul ul li a {
        font-size: 14px;
        font-weight: 400;
        text-transform: none
    }

    #menu ul ul ul ul {
        padding: 0
    }

    #menu ul ul ul ul li a {
        padding-left: 50px !important
    }

    #header-info {
        position: static
    }

    #header-info a {
        background: #1a1919;
        font-weight: 500;
        border-bottom: 1px solid #f1f1f1;
        box-sizing: border-box;
        color: #fff;
        display: none;
        float: left;
        font-size: 15px;
        line-height: normal;
        margin: 0;
        padding: 13px 15px !important;
        text-align: center;
        width: 33.3%
    }

    #header-info a.news {
        font-weight: bold;
        color: #fff;
        margin-left: 0;
        padding: 13px 15px !important;
    }

    #header-info a.careers,
    #header-info a.news {
        border-left: 1px solid #f1f1f1
    }

    #header-info a.careers,
    #header-info a.news,
    #header-info a.status {
        display: block
    }

    #section-about .bg {
        background-position: 23% 70%
    }

    #section-about .shape {
        background-size: auto 100%;
        width: 390px
    }

    #section-about .text {
        line-height: 1.3;
        width: 265px
    }

    #section-about h2 {
        font-size: 30px
    }

    #heading h1 {
        font-size: 36px
    }

    .mmg-sticked-banner {
        font-size: 16px;
        height: auto;
        min-height: 70px
    }

    .mmg-sticked-banner .display-table,
    .mmg-sticked-banner .outer {
        height: auto
    }

    .mmg-sticked-banner.open {
        top: 50px
    }

    .mmg-sticked-banner .thumb {
        width: 170px
    }
}

@media (max-width: 860px) {
    #section-services .service {
        margin: 0;
        text-align: left;
        width: 47%
    }

    #section-services .service2,
    #section-services .service4 {
        float: right
    }

    #section-services .service3 {
        clear: both
    }

    #section-services .service3,
    #section-services .service4 {
        margin-top: 60px
    }

    #section-services img {
        float: left;
        margin-top: 5px;
        max-width: none;
        width: 25%
    }

    #section-services .text {
        float: right;
        padding: 0;
        width: 69%
    }

    #section-services strong.title {
        font-size: 19px
    }

    #section-support img {
        width: 220px
    }

    #section-support .text {
        padding-right: 240px
    }

    #heading {
        height: 220px
    }

    #heading h1 {
        font-size: 32px
    }

    #main,
    #sidebar {
        display: block;
        float: none;
        margin: 0;
        width: auto !important
    }

    #sidebar {
        padding-top: 30px
    }

    #sidebar .vcard {
        padding: 0;
        width: 46%
    }

    #sidebar .vcard.address1,
    #sidebar .vcard.address3 {
        clear: both;
        float: left
    }

    #sidebar .vcard.address2,
    #sidebar .vcard.address4 {
        float: right
    }

    #sidebar .vcard.address3,
    #sidebar .vcard.address4 {
        padding-top: 25px
    }

    #footer-orange {
        padding: 30px 0
    }

    #footer-orange .module4 {
        float: right;
        margin: 0;
        padding: 0;
        width: auto
    }

    #footer-orange .social-icons a {
        float: left;
        margin: 0 5px 0 0
    }

    #footer-orange .hs-menu-wrapper,
    #hs_menu_wrapper_sidebarmenu {
        display: none
    }

    .cols3-row .col1,
    .cols3-row .col2,
    .cols3-row .col3 {
        clear: both;
        display: block;
        float: none;
        margin: 0;
        width: 100%
    }

    .cols3-row .col2,
    .cols3-row .col3 {
        padding-top: 35px
    }
}

@media (max-width: 767px) {
    #section-about {
        height: auto
    }

    #section-about .bg {
        height: 250px;
        position: static;
        width: 100%
    }

    #section-about .shape {
        background-position: 100% 50%;
        background-size: auto 120%;
        height: auto;
        position: static;
        width: 100%
    }

    #section-about .text {
        float: none;
        height: auto;
        margin: 0;
        padding: 30px 20px;
        width: auto
    }

    #section-about h2 {
        font-size: 28px
    }

    #section-services {
        padding-bottom: 60px;
        padding-top: 60px
    }

    #section-support {
        font-size: 15px;
        padding-top: 60px
    }

    #section-support .text {
        padding-right: 0
    }

    #section-support h2 {
        font-size: 28px
    }

    #section-support img {
        right: 20px;
        width: 160px
    }

    #content {
        padding-bottom: 50px;
        padding-top: 50px
    }

    #heading {
        height: 180px
    }

    #heading h1 {
        font-size: 30px
    }

    .blog-pagination a,
    .button,
    .cta_button,
    .hs-button,
    .readmore,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        font-size: 15px
    }

    .hide-mobi {
        display: none
    }

    .cols2-row .col1,
    .cols2-row .col2,
    .half-left,
    .half-right {
        display: block;
        float: none;
        width: 100%
    }

    .cols2-row .col2,
    .half-right {
        padding-top: 2em
    }

    ul.half-right {
        padding-top: .4em
    }

    .flexcols2 .col,
    .flexcols3 .col {
        clear: both;
        display: block;
        float: none;
        margin: 0;
        padding: 35px 0 0;
        width: auto
    }

    .flexcols2 .item1,
    .flexcols3 .item1 {
        padding-top: 0
    }

    .img-colorbox-popup.half-left,
    .img-colorbox-popup.half-right {
        margin-left: 0;
        margin-right: 0
    }

    .mmg-sticked-banner {
        font-size: 14px
    }

    .mmg-sticked-banner .thumb {
        padding-right: 40px;
        width: 150px
    }

    body.careers iframe {
        display: inline-block;
        float: none !important;
        margin: 0 auto !important
    }

    .mmg-tabs .tablist,
    .mmg-tabs button.tab {
        display: block;
        margin: 0
    }

    .mmg-tabs button.tab {
        border-radius: 0;
        width: 100%
    }

    .mmg-tabs button.tab:first-child {
        border-radius: 0 10px 0 0
    }
}

@media (max-width: 667px) {
    .table_order {
        border-top: 1px solid #f1f1f1;
        display: block;
        width: 100%
    }

    .table_order>tbody,
    .table_order>tbody>tr,
    .table_order>thead,
    .table_order>thead>tr,
    .table_order>tr {
        display: block;
        padding: 0;
        width: 100%
    }

    .table_order>tbody>tr>td,
    .table_order>tbody>tr>th,
    .table_order>thead>tr>td,
    .table_order>thead>tr>th,
    .table_order>tr>td,
    .table_order>tr>th {
        border-top: none;
        box-sizing: border-box;
        display: block;
        width: 100% !important
    }
}

@media (max-width: 640px) {
    #section-about .bg {
        height: 200px
    }

    #heading h1 {
        font-size: 27px
    }

    #footer-black #footer-logo,
    #footer-black .footer-links {
        display: block;
        float: none
    }

    .img-medium-left,
    .img-medium-right {
        width: 35%
    }

    .img-small-left,
    .img-small-right {
        margin-top: .2em;
        width: 25%
    }
}

@media (max-width: 639px) {
    #heading br {
        display: none
    }

    #section-services .service {
        text-align: center
    }

    #section-services img {
        display: inline-block;
        float: none;
        margin: 0 0 25px;
        width: 45%
    }

    #section-services .text,
    .post-image {
        float: none;
        width: 100%
    }

    .post-image {
        display: block;
        margin: 0 auto;
        max-width: 400px
    }

    .post-has-img .post-content {
        float: none;
        padding-top: 1em;
        width: 100%
    }
}

@media (max-width: 567px) {
    .mmg-sticked-banner {
        line-height: 1.3
    }

    .mmg-sticked-banner .thumb {
        padding-right: 30px;
        width: 120px
    }
}

@media (max-width: 540px) {
    #sidebar .vcard {
        float: none !important;
        font-size: 1em;
        margin: 0 !important;
        padding: 25px 0 0;
        width: auto !important
    }

    #sidebar .vcard.address1 {
        padding-top: 0
    }

    #footer nav a,
    #footer nav a:hover {
        background-color: #23366f;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 16px;
        margin-bottom: 1px;
        padding: 15px 15px 15px 25px;
        text-align: left;
        text-decoration: none
    }

    #footer nav span {
        display: none
    }

    table {
        font-size: 13px;
        line-height: 1.4
    }

    table.table_order {
        font-size: 14px;
        line-height: 1.4
    }

    #table_citations {
        border-top: 1px solid #f1f1f1;
        display: block;
        font-size: 15px;
        line-height: 1.4;
        width: 100%
    }

    #table_citations tr {
        display: block
    }

    #table_citations td,
    #table_citations th {
        border-top: none;
        box-sizing: border-box;
        display: block;
        width: 100% !important
    }
}

@media (max-width: 479px) {
    .outer {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    #logo {
        left: 10px
    }

    #section-about .text {
        padding: 30px 10px
    }

    #section-services .service {
        clear: both;
        display: block;
        float: none;
        margin: 0;
        padding: 50px 0 0;
        text-align: left;
        width: 100%
    }

    #section-services .service1 {
        padding: 0
    }

    #section-services img {
        float: left;
        margin: 0;
        width: 24%
    }

    #section-services .text {
        float: right;
        width: 69%
    }

    #section-support h2 {
        font-size: 25px
    }

    #section-support a.phone {
        font-size: 22px
    }

    #section-support a.button {
        font-size: 17px
    }

    #section-support img {
        right: 10px;
        width: 150px
    }

    .has-alt-text-img table {
        display: none !important
    }

    .alt-text-img {
        display: block !important
    }

    .mmg-collapsible .module-title {
        padding-left: 10px !important;
        padding-right: 10px !important
    }

    .mmg-collapsible .content {
        padding: 0 10px 10px !important
    }

    .post-listing .post-item {
        display: block;
        float: none;
        margin: 0 !important;
        padding-top: 20px;
        width: 100%
    }

    .post-listing .postnum-1 {
        padding-top: 0
    }

    #footer .outer {
        padding-left: 10px;
        padding-right: 10px
    }

    .img-half-left,
    .img-half-right,
    .img-medium-left,
    .img-medium-right {
        display: block;
        float: none;
        margin: .6em 0;
        width: 100%
    }

    .mmg-sticked-banner .thumb {
        padding-right: 20px;
        width: 100px
    }

    .careers-list .job-line span {
        display: block;
        float: none;
        font-weight: 700;
        padding-left: 0;
        text-align: left
    }
}

@media (max-width: 414px) {
    .full-post .post-title,
    .hs_cos_wrapper_type_form .form-title,
    .module-title,
    h2 {
        font-size: 24px
    }

    .mmg-rollover-menu .col h3 {
        font-size: 21px
    }

    .post-listing .post-title {
        font-size: 20px;
        line-height: 110%
    }

    .post-item {
        padding: 25px 0
    }
}

@media (max-width: 374px) {
    #section-support {
        padding-top: 50px
    }

    #section-support .text {
        padding-bottom: 50px
    }

    #section-support h2 {
        font-size: 21px
    }

    #section-support .buttons {
        padding-top: 20px
    }

    #section-support a.phone {
        font-size: 20px
    }

    #section-support a.button {
        font-size: 16px
    }

    #section-support img {
        width: 120px
    }

    .mmg-sticked-banner,
    .mmg-sticked-banner .text,
    .mmg-sticked-banner .thumb {
        display: block;
        padding: 0;
        text-align: center;
        width: 100%
    }

    .mmg-sticked-banner .thumb {
        padding-bottom: 5px
    }

    .mmg-sticked-banner .thumb img {
        max-width: 100px
    }

    #captcha_wrapper,
    #captcha_wrapper #recaptcha_area,
    #captcha_wrapper #recaptcha_table,
    #captcha_wrapper #recaptcha_table .recaptcha_r1_c1 {
        overflow: hidden;
        width: auto !important
    }

    #recaptcha_area table#recaptcha_table .recaptcha_r4_c4 {
        width: 67px !important
    }

    #recaptcha_area table#recaptcha_table #recaptcha_image {
        width: 280px !important
    }
}